body {
    /* background-image: url(../images/chat-1.jpg); */
    background-blend-mode: darken;
}


#image {

    background-image: url(../images/d75337c26e02c6b8bc39dcc3d7e87b38.webp);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;

}



